table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

/* Making circles */
  .circle-light-blue {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: skyblue;
  }

  .circle-red {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: red;
  }

  .circle-green {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: green;
  }

  .circle-yellow {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: yellow;
  }
  
  .circle-purple {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: purple;
  }

  .circle-light-green {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lawngreen;
  }

  .circle-pink {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: pink;
  }

  .circle-orange {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: orange;
  }

  .circle-brown {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: brown;
  }

  .circle-grey {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: grey;
  }

  .info {
    background-color: #eceba6;
    border-left: 6px solid #dad60d;
    height: 1.5em;
  }
  
  .note {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    height: 2.5em;
  }