/* This is for reference only.  Changes here will not change anything.
Go to footer.js to make changes */

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(21, 67, 105);
    background-image: linear-gradient(to right, rgb(21, 67, 105) ,  rgb(38, 125, 196));
    color: white;
    text-align: center;
  }